#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.button {
  background-color: #f58c00;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 10px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 4px;
}
.button:hover {
  border-color: #e78400;
}
